@page
@model FrameMates_Studio_UI.Pages.ChatpageModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Studio Chat Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="~/css/stylestudiochatpage.css">
    <link href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".noti-icon .material-symbols-sharp").click(function () {
                $(".drop-down").toggle("active");
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../images/GAM.jpg">
                    <h1>SWD392</h1>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="createstudio.html">
                    <span class="material-symbols-sharp">add_home</span>
                    <h3>Profile Management</h3>
                </a>
                <a href="studiopage.html">
                    <span class="material-symbols-sharp">camera_indoor</span>
                    <h3>Profile Management</h3>
                </a>
                <a href="#" class="active">
                    <span class="material-symbols-sharp">forum</span>
                    <h3>Chat</h3>
                </a>
                <a href="studiodashboard.html">
                    <span class="material-symbols-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="stuservicepage.html">
                    <span class="material-symbols-sharp">wysiwyg</span>
                    <h3>Services Management</h3>
                </a>
                <a href="stumanageorderpage.html">
                    <span class="material-symbols-sharp">list_alt</span>
                    <h3>Manage Orders</h3>
                </a>
                <a href="stufeedbackpage.html">
                    <span class="material-symbols-sharp">reviews</span>
                    <h3>Feedback</h3>
                </a>
                <a href="stuvoucherpage.html">
                    <span class="material-symbols-sharp">book_online</span>
                    <h3>Voucher</h3>
                </a>
                <a href="login.html">
                    <span class="material-symbols-sharp">logout</span>
                    <h3>Log out</h3>
                </a>
            </div>
        </aside>

        <main>
            <h1>Studio Chat</h1>
            <div class="container_profile">
                <div class="main-prof">
                    <div class="profile-head">
                        <h1>
                            Confirm Booking
                        </h1>
                        <form action="#">
                            <div class="prof-content">
                                <div class="input-box">
                                    <h2><span class="details">Customer Name</span></h2>
                                    <input type="text" placeholder="Customer Name">
                                </div>
                                <div class="input-box">
                                    <h2><span class="details">Address</span></h2>
                                    <input type="text" placeholder="Address">
                                </div>
                                <div class="input-box">
                                    <h2><span class="details">Date</span></h2>
                                    <input type="date">
                                </div>
                                <div class="input-box">
                                    <h2><span class="details">Deposit</span></h2>
                                    <input type="number" placeholder="VND">
                                </div>
                                <div class="input-box">
                                    <div class="box-disc">
                                        <h2><span class="details">Service</span></h2>
                                        <select id="Options" size="1">
                                            <option selected="selected" value="">None</option>
                                        </select>
                                        <select id="Type" size="1">
                                            <option selected="selected" value="">type</option>
                                        </select>
                                        <select id="Price" size="1">
                                            <option selected="selected" value="">price</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <h2><span class="details">Customize Service</span></h2>
                                    <div class="input-box">
                                        <input type="text" placeholder="Name">
                                    </div>
                                    <div class="input-box">
                                        <input type="number" placeholder="Price">
                                    </div>
                                    <div class="input-box">
                                        <input type="number" placeholder="Discount">
                                    </div>
                                    <div class="input-box">
                                        <div class="box-disc">
                                            <input type="text" placeholder="Discription">
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Confirm">
                                <a href="#preview-booking">Preview</a>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="dialog-prev overlay-prev" id="preview-booking">
                    <div class="dialog-body-prev">
                        <a class="dialog-close-prev" href="#">&times;</a>
                        <h2>PREVIEW</h2>
                        <form class="prev-form" action="#">
                            <div class="prev-box">
                                <div class="input-box-prev">
                                    <h2><span class="details">Customer Name</span></h2>
                                    <input type="text" readonly value="NguyenVanA">
                                </div>
                                <div class="input-box-prev">
                                    <h2><span class="details">Address</span></h2>
                                    <input type="text" readonly value="+8403123232">
                                </div>
                                <div class="input-box-prev">
                                    <div class="box-disc">
                                        <h2><span class="details">Discription</span></h2>
                                        <input type="text" readonly value="aloalo 1234 alo aloaskdjkj">
                                    </div>
                                </div>
                                <div class="input-box-prev">
                                    <h2><span class="details">Date</span></h2>
                                    <input type="text" readonly value="12/06/2023">
                                </div>
                                <div class="input-box-prev">
                                    <h2><span class="details">Service</span></h2>
                                    <input type="text" readonly value="Kỷ yếu">
                                </div>
                                <div class="input-box-prev">
                                    <h2><span class="details">Price</span></h2>
                                    <input type="text" readonly value="3200000">
                                </div>
                            </div>
                            <input type="submit" value="Confirm">
                        </form>
                    </div>
                </div>
                <script src="../js/confirmbooking.js"></script>
            </div>
        </main>
        <div class="right">
            <div class="top">
                <div class="profile">
                    <div class="wrap">
                        <div class="noti-icon">
                            <span class="material-symbols-sharp">notifications</span>
                        </div>
                        <div class="drop-down">
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/pro_photo.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>
                                        he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!
                                    </p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/sbtc.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>
                                        he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!
                                    </p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/sbtc.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>
                                        he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!
                                    </p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <p><b>Chạm Studio</b></p>
                        <small class="text-muted">Studio</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../images/logo_stu.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_profile">
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/64868c13cc26a871b021ee20/1h2mp6c45';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
</body>

</html>