@page
@model FrameMates_Studio_UI.Pages.FeedbackModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Studio Management Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="~/css/stylestufeedback.css">
    <link href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".noti-icon .material-symbols-sharp").click(function () {
                $(".drop-down").toggle("active");
            });
        });
    </script>
</head>

<body>
        <main>
            <h1>Studio's Feedback</h1>
            <h2>All Comments</h2>
            <section id="all-feedback">
                <div class="feedback_box_container">
                    <!-- headbox -->
                    <div class="feedback_box">
                        <div class="box_top">
                            <div class="info_top">
                                <div class="info_img">
                                    <img src="../images/pro_photo.jpg">
                                </div>
                                <div class="info_name">
                                    <h2>Wedding Album</h2>
                                    <strong>Mai Trung</strong>
                                    <span>trung@gmail.com</span>
                                </div>
                            </div>
                            <div class="review">
                            <div class="star">
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                            </div>
                                <h5>Day: <span>14/06/2023</span></h5>
                            </div>
                        </div>

                        <div class="comment">
                            <p>mmmmmmmmmmmmmmmmmmmmmmmm kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk  ppppppppppppp jjjjjjjjjjjjjj iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>
                        </div>
                        <div class="text-reply">
                            <textarea name="Reply" placeholder="Reply"></textarea>
                            <button>Post Comment</button>
                        </div>
                        <div class="extra_inf">
                            <p>Booking Date: </p><span>30/05/2023</span>
                            <p>Total Price: </p><span>3.500.000 VND</span>
                        </div>
                    </div>
                    <!-- endbox -->
                    <!-- headbox -->
                    <div class="feedback_box">
                        <div class="box_top">
                            <div class="info_top">
                                <div class="info_img">
                                    <img src="../images/pro_photo.jpg">
                                </div>
                                <div class="info_name">
                                    <h2>Wedding Album</h2>
                                    <strong>Mai Trung</strong>
                                    <span>trung@gmail.com</span>
                                </div>
                            </div>
                            <div class="review">
                            <div class="star">
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                            </div>
                                <h5>Day: <span>14/06/2023</span></h5>
                            </div>
                        </div>

                        <div class="comment">
                            <p>mmmmmmmmmmmmmmmmmmmmmmmm kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk  ppppppppppppp jjjjjjjjjjjjjj iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>
                        </div>
                        <div class="text-reply">
                            <textarea name="Reply" placeholder="Reply"></textarea>
                            <button>Post Comment</button>
                        </div>
                        <div class="extra_inf">
                            <p>Booking Date: </p><span>30/05/2023</span>
                            <p>Total Price: </p><span>3.500.000 VND</span>
                        </div>
                    </div>
                    <!-- endbox -->
                    <!-- headbox -->
                    <div class="feedback_box">
                        <div class="box_top">
                            <div class="info_top">
                                <div class="info_img">
                                    <img src="../images/pro_photo.jpg">
                                </div>
                                <div class="info_name">
                                    <h2>Wedding Album</h2>
                                    <strong>Mai Trung</strong>
                                    <span>trung@gmail.com</span>
                                </div>
                            </div>
                            <div class="review">
                            <div class="star">
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                            </div>
                                <h5>Day: <span>14/06/2023</span></h5>
                            </div>
                        </div>

                        <div class="comment">
                            <p>mmmmmmmmmmmmmmmmmmmmmmmm kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk  ppppppppppppp jjjjjjjjjjjjjj iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>
                        </div>
                        <div class="text-reply">
                            <textarea name="Reply" placeholder="Reply"></textarea>
                            <button>Post Comment</button>
                        </div>
                        <div class="extra_inf">
                            <p>Booking Date: </p><span>30/05/2023</span>
                            <p>Total Price: </p><span>3.500.000 VND</span>
                        </div>
                    </div>
                    <!-- endbox -->
                    <!-- headbox -->
                    <div class="feedback_box">
                        <div class="box_top">
                            <div class="info_top">
                                <div class="info_img">
                                    <img src="../images/pro_photo.jpg">
                                </div>
                                <div class="info_name">
                                    <h2>Wedding Album</h2>
                                    <strong>Mai Trung</strong>
                                    <span>trung@gmail.com</span>
                                </div>
                            </div>
                            <div class="review">
                            <div class="star">
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                            </div>
                                <h5>Day: <span>14/06/2023</span></h5>
                            </div>
                        </div>

                        <div class="comment">
                            <p>mmmmmmmmmmmmmmmmmmmmmmmm sjfkjadsfn adnckand jn kl nklankjdbks lkn lkasnv lknkjbalsjcblakn jbljb lknkjbalsjcblakn kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk  ppppppppppppp jjjjjjjjjjjjjj iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>
                        </div>
                        <div class="text-reply">
                            <textarea name="Reply" placeholder="Reply"></textarea>
                            <button>Post Comment</button>
                        </div>
                        <div class="extra_inf">
                            <p>Booking Date: </p><span>30/05/2023</span>
                            <p>Total Price: </p><span>3.500.000 VND</span>
                        </div>
                    </div>
                    <!-- endbox -->
                    <!-- headbox -->
                    <div class="feedback_box">
                        <div class="box_top">
                            <div class="info_top">
                                <div class="info_img">
                                    <img src="../images/pro_photo.jpg">
                                </div>
                                <div class="info_name">
                                    <h2>Wedding Album</h2>
                                    <strong>Mai Trung</strong>
                                    <span>trung@gmail.com</span>
                                </div>
                            </div>
                            <div class="review">
                            <div class="star">
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                                <i class="fa-solid fa-star" style="color: #f7f145;"></i>
                            </div>
                                <h5>Day: <span>14/06/2023</span></h5>
                            </div>
                        </div>

                        <div class="comment">
                            <p>mmmmmmmmmmmmmmmmmmmmmmmm kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk  ppppppppppppp jjjjjjjjjjjjjj iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>
                        </div>
                        <div class="text-reply">
                            <textarea name="Reply" placeholder="Reply"></textarea>
                            <button>Post Comment</button>
                        </div>
                        <div class="extra_inf">
                            <p>Booking Date: </p><span>30/05/2023</span>
                            <p>Total Price: </p><span>3.500.000 VND</span>
                        </div>
                    </div>
                    <!-- endbox -->
                </div>
            </section>
        </main>
        <div class="right">
            <div class="top">
                <div class="profile">
                    <div class="wrap">
                        <div class="noti-icon">
                            <span class="material-symbols-sharp">notifications</span>
                        </div>
                        <div class="drop-down">
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/pro_photo.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!</p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/sbtc.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!</p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/sbtc.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!</p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <p><b>Chạm Studio</b></p>
                        <small class="text-muted">Studio</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../images/logo_stu.png">
                    </div>
                </div>
            </div>
        </div>
</body>

</html>