@page
@model FrameMates_Studio_UI.Pages.ManageorderModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Studio Management Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="~/css/stylestumanageorder.css">
    <link href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".noti-icon .material-symbols-sharp").click(function () {
                $(".drop-down").toggle("active");
            });
        });
    </script>
</head>

<body>
    

        <main>
            <h1>Manage Orders</h1>
            <div class="list-booking">
                <h2>List Booking Request</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Service</th>
                            <th>Phone Number</th>
                            <th>Booking Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nguyễn Văn A</td>
                            <td>Kỷ yếu</td>
                            <td>0005080306</td>
                            <td>12/05/2028</td>
                            <td><a href="#detail-customer-page" class="primary">Details</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Văn A</td>
                            <td>Kỷ yếu</td>
                            <td>0005080306</td>
                            <td>12/05/2028</td>
                            <td><a href="#detail-customer-page" class="primary">Details</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Văn A</td>
                            <td>Kỷ yếu</td>
                            <td>0005080306</td>
                            <td>12/05/2028</td>
                            <td><a href="#detail-customer-page" class="primary">Details</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Văn A</td>
                            <td>Kỷ yếu</td>
                            <td>0005080306</td>
                            <td>12/05/2028</td>
                            <td><a href="#detail-customer-page" class="primary">Details</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Văn A</td>
                            <td>Kỷ yếu</td>
                            <td>0005080306</td>
                            <td>12/05/2028</td>
                            <td><a href="#detail-customer-page" class="primary">Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="list-booking-cancle">
                <h2>List Canceled Booking</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Service</th>
                            <th>Phone Number</th>
                            <th>Cancle Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nguyễn Văn A</td>
                            <td>Kỷ yếu</td>
                            <td>0005080306</td>
                            <td>12/05/2028</td>
                            <td><a href="#detail-customer-page" class="primary">Details</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Văn A</td>
                            <td>Kỷ yếu</td>
                            <td>0005080306</td>
                            <td>12/05/2028</td>
                            <td><a href="#detail-customer-page" class="primary">Details</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Văn A</td>
                            <td>Kỷ yếu</td>
                            <td>0005080306</td>
                            <td>12/05/2028</td>
                            <td><a href="#detail-customer-page" class="primary">Details</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Văn A</td>
                            <td>Kỷ yếu</td>
                            <td>0005080306</td>
                            <td>12/05/2028</td>
                            <td><a href="#detail-customer-page" class="primary">Details</a></td>
                        </tr>
                        <tr>
                            <td>Nguyễn Văn A</td>
                            <td>Kỷ yếu</td>
                            <td>0005080306</td>
                            <td>12/05/2028</td>
                            <td><a href="#detail-customer-page" class="primary">Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="dialog-customer-details overlay-customer-details" id="detail-customer-page">
                <div class="dialog-body-customer-detail">
                    <a class="dialog-close-customer-detail" href="#details-trans-page">&times;</a>
                    <h2>Customer's Details</h2>
                    <div class="profile-customer-container">
                        <div class="profile-customer-detail">
                            <div class="pd-left">
                                <div class="pd-row">
                                    <img src="../images/logo_stu.png" class="avatar-img">

                                </div>
                            </div>
                        </div>

                        <div class="profile-customer-info">
                            <div class="prof-customer-col">
                                <form action="#">
                                    <div class="prof-customer-content">
                                        <div class="input-box-customer">
                                            <h2><span class="details">Full Name</span></h2>
                                            <h3>NguyenVanA</h3>
                                        </div>
                                        <div class="input-box-customer">
                                            <h2><span class="details">Gender</span></h2>
                                            <h3>Nam</h3>
                                        </div>
                                        <div class="input-box-customer">
                                            <h2><span class="details">E-mail</span></h2>
                                            <h3>nguyenvana@gmail.com</h3>
                                        </div>
                                        <div class="input-box-customer">
                                            <h2><span class="details">Phone Number</span></h2>
                                            <h3>+8435164872</h3>
                                        </div>
                                        <div class="input-box-customer">
                                            <h2><span class="details">Date of Birth</span></h2>
                                            <h3><input type="datetime" readonly value="20/02/2000"></h3>
                                        </div>
                                        <div class="input-box-customer">
                                            <h2><span class="details">Regist Date</span></h2>
                                            <h3><input type="datetime" readonly value="20/02/2023"></h3>
                                        </div>
                                        <div class="input-box-customer">
                                            <h2><span class="details">Address</span></h2>
                                            <h3>DongNai</h3>
                                        </div>
                                        <div class="input-box-customer">
                                            <h2><span class="details">Status</span></h2>
                                            <select>
                                                <span class="accept">
                                                <option class="accept" selected="selected">Active</option></span>
                                                <option class="decline" selected="selected"><span class="decline">Ban</span></option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="submit" value="Update">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="right">
            <div class="top">
                <div class="profile">
                    <div class="wrap">
                        <div class="noti-icon">
                            <span class="material-symbols-sharp">notifications</span>
                        </div>
                        <div class="drop-down">
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/pro_photo.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!</p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/sbtc.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!</p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/sbtc.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!</p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <p><b>Chạm Studio</b></p>
                        <small class="text-muted">Studio</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../images/logo_stu.png">
                    </div>
                </div>
            </div>
        </div>
</body>

</html>