@page
@model FrameMates_Studio_UI.Pages.ManageorderModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Studio Management Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="~/css/stylestumanageorder.css">
    <link href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".noti-icon .material-symbols-sharp").click(function () {
                $(".drop-down").toggle("active");
            });
        });
    </script>
</head>

<body>


    <main>
        <h1>Manage Orders</h1>
        <div class="list-booking">
            <h2>List Booking Request</h2>
            <table>
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Booking Date</th>
                        <th>Check In</th>
                        <th>Payment Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>12/05/2023</td>
                        <td>20/06/2023</td>
                        <td>12/05/2023</td>
                        <td>Deposited</td>
                        <td><a href="#detail-customer-page" class="primary">Details</a></td>
                    </tr>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>12/05/2023</td>
                        <td>20/06/2023</td>
                        <td>12/05/2023</td>
                        <td>Deposited</td>
                        <td><a href="#detail-customer-page" class="primary">Details</a></td>
                    </tr>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>12/05/2023</td>
                        <td>20/06/2023</td>
                        <td>12/05/2023</td>
                        <td>Deposited</td>
                        <td><a href="#detail-customer-page" class="primary">Details</a></td>
                    </tr>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>12/05/2023</td>
                        <td>20/06/2023</td>
                        <td>12/05/2023</td>
                        <td>Deposited</td>
                        <td><a href="#detail-customer-page" class="primary">Details</a></td>
                    </tr>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>12/05/2023</td>
                        <td>20/06/2023</td>
                        <td>12/05/2023</td>
                        <td>Deposited</td>
                        <td><a href="#detail-customer-page" class="primary">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="list-booking-cancle">
            <h2>List Canceled Booking</h2>
            <table>
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Booking Date</th>
                        <th>Check In</th>
                        <th>Payment Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>12/05/2023</td>
                        <td>20/06/2023</td>
                        <td>12/05/2023</td>
                        <td>Canceled</td>
                        <td><a href="#detail-customer-page-cancel" class="primary">Details</a></td>
                    </tr>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>12/05/2023</td>
                        <td>20/06/2023</td>
                        <td>12/05/2023</td>
                        <td>Canceled</td>
                        <td><a href="#detail-customer-page-cancel" class="primary">Details</a></td>
                    </tr>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>12/05/2023</td>
                        <td>20/06/2023</td>
                        <td>12/05/2023</td>
                        <td>Canceled</td>
                        <td><a href="#detail-customer-page-cancel" class="primary">Details</a></td>
                    </tr>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>12/05/2023</td>
                        <td>20/06/2023</td>
                        <td>12/05/2023</td>
                        <td>Canceled</td>
                        <td><a href="#detail-customer-page-cancel" class="primary">Details</a></td>
                    </tr>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>12/05/2023</td>
                        <td>20/06/2023</td>
                        <td>12/05/2023</td>
                        <td>Canceled</td>
                        <td><a href="#detail-customer-page-cancel" class="primary">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="dialog-customer-details overlay-customer-details" id="detail-customer-page">
            <div class="dialog-body-customer-detail">
                <a class="dialog-close-customer-detail" href="#">&times;</a>
                <h2>Order's Details</h2>
                <div class="profile-customer-container">

                    <div class="profile-customer-info">
                        <div class="prof-customer-col">
                            <form action="#">
                                <div class="prof-customer-content">
                                    <div class="input-box-customer">
                                        <h2><span class="details">Full Name</span></h2>
                                        <h3>NguyenVanA</h3>
                                    </div>
                                    <div class="input-box-customer">
                                        <h2><span class="details">E-mail</span></h2>
                                        <h3>nguyenvana@gmail.com</h3>
                                    </div>
                                    <div class="input-box-customer">
                                        <h2><span class="details">Phone Number</span></h2>
                                        <h3>+8435164872</h3>
                                    </div>
                                    <div class="input-box-customer">
                                        <h2><span class="details">Booking Date</span></h2>
                                        <h3><input type="datetime" readonly value="20/02/2023"></h3>
                                    </div>
                                    <div class="input-box-customer">
                                        <h2><span class="details">Price</span></h2>
                                        <h3>5.500.000</h3>
                                    </div>
                                    <div class="input-box-customer">
                                        <h2><span class="details">Deposit</span></h2>
                                        <h3>2.500.000</h3>
                                    </div>
                                    <div class="input-box-customer">
                                        <h2><span class="details">Discount</span></h2>
                                        <h3>None</h3>
                                    </div>
                                    <div class="input-box-customer">
                                        <h2><span class="details">Address</span></h2>
                                        <h3>DongNai</h3>
                                    </div>
                                    <div class="input-box-customer">
                                        <h2><span class="details">Description</span></h2>
                                        <textarea>ádasdasdas</textarea>
                                    </div>
                                    <div class="input-box-customer">
                                        <h2><span class="details">Service</span></h2>
                                        <table>
                                            <thead>
                                                <th>Service Name</th>
                                                <th>Price</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Solo</td>
                                                    <td>2.000.000</td>
                                                </tr>
                                                <tr>
                                                    <td>Group</td>
                                                    <td>3.000.000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <input type="submit" value="Cancel">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ================================================POPUP FOR CUSTOMER CANCEL================================================================== -->
        <div class="dialog-customer-details overlay-customer-details" id="detail-customer-page-cancel">
            <div class="dialog-body-customer-detail">
                <a class="dialog-close-customer-detail" href="#">&times;</a>
                <h2>Order's Details</h2>
                <div class="profile-customer-container">

                    <div class="profile-customer-info">
                        <div class="prof-customer-col">
                            <div class="prof-customer-content">
                                <div class="input-box-customer">
                                    <h2><span class="details">Full Name</span></h2>
                                    <h3>NguyenVanA</h3>
                                </div>
                                <div class="input-box-customer">
                                    <h2><span class="details">E-mail</span></h2>
                                    <h3>nguyenvana@gmail.com</h3>
                                </div>
                                <div class="input-box-customer">
                                    <h2><span class="details">Phone Number</span></h2>
                                    <h3>+8435164872</h3>
                                </div>
                                <div class="input-box-customer">
                                    <h2><span class="details">Booking Date</span></h2>
                                    <h3><input type="datetime" readonly value="20/02/2023"></h3>
                                </div>
                                <div class="input-box-customer">
                                    <h2><span class="details">Price</span></h2>
                                    <h3>5.500.000</h3>
                                </div>
                                <div class="input-box-customer">
                                    <h2><span class="details">Deposit</span></h2>
                                    <h3>2.500.000</h3>
                                </div>
                                <div class="input-box-customer">
                                    <h2><span class="details">Discount</span></h2>
                                    <h3>None</h3>
                                </div>
                                <div class="input-box-customer">
                                    <h2><span class="details">Address</span></h2>
                                    <h3>DongNai</h3>
                                </div>
                                <div class="input-box-customer">
                                    <h2><span class="details">Description</span></h2>
                                    <textarea>ádasdasdas</textarea>
                                </div>
                                <div class="input-box-customer">
                                    <h2><span class="details">Service</span></h2>
                                    <table>
                                        <thead>
                                        <th>Service Name</th>
                                        <th>Price</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Solo</td>
                                                <td>2.000.000</td>
                                            </tr>
                                            <tr>
                                                <td>Group</td>
                                                <td>3.000.000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
        <div class="right">
            <div class="top">
                <div class="profile">
                    <div class="wrap">
                        <div class="noti-icon">
                            <span class="material-symbols-sharp">notifications</span>
                        </div>
                        <div class="drop-down">
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/pro_photo.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!</p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/sbtc.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!</p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/sbtc.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!</p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <p><b>Chạm Studio</b></p>
                        <small class="text-muted">Studio</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../images/logo_stu.png">
                    </div>
                </div>
            </div>
        </div>
</body>

</html>