@page
@model FrameMates_Studio_UI.Pages.ServiceModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Studio Management Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../css/stylestuservice.css">
    <link href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".content .radio_content").hide();
            $(".content .radio_content:first-child").show();

            $(".radio_wrap").click(function () {
                var current_radio = $(this).attr("data-radio");
                $(".content .radio_content").hide();
                $("." + current_radio).show();
            })
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".noti-icon .material-symbols-sharp").click(function () {
                $(".drop-down").toggle("active");
            });
        });
    </script>
</head>

<body>
    
        <main>
            <h1>Service Management</h1>
            <div class="wrapper">
                <div class="radio_tabs">
                    <label data-radio="radio_1" class="radio_wrap">
                        <input type="radio" name="available" class="input">
                        <span class="radio_mark">
                            Available Services
                        </span>
                    </label>
                    <label data-radio="radio_2" class="radio_wrap">
                        <input type="radio" name="available" class="input">
                        <span class="radio_mark">
                            Create Service
                        </span>
                    </label>
                </div>

                <div class="content">
                    <div class="radio_content radio_1">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <h4>Kỷ yếu</h4>
                                    </td>
                                    <td><a href="#" class="decline">Edit Service</a></td>
                                    <td><a href="#detail-service" class="primary">Details</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Look book</h4>
                                    </td>
                                    <td><a href="#" class="decline">Edit Service</a></td>
                                    <td><a href="#detail-service" class="primary">Details</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Kỷ yếu</h4>
                                    </td>
                                    <td><a href="#" class="decline">Edit Service</a></td>
                                    <td><a href="#detail-service" class="primary">Details</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Look book</h4>
                                    </td>
                                    <td><a href="#" class="decline">Edit Service</a></td>
                                    <td><a href="#detail-service" class="primary">Details</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Kỷ yếu</h4>
                                    </td>
                                    <td><a href="#" class="decline">Edit Service</a></td>
                                    <td><a href="#detail-service" class="primary">Details</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Look book</h4>
                                    </td>
                                    <td><a href="#" class="decline">Edit Service</a></td>
                                    <td><a href="#detail-service" class="primary">Details</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Kỷ yếu</h4>
                                    </td>
                                    <td><a href="#" class="decline">Edit Service</a></td>
                                    <td><a href="#detail-service" class="primary">Details</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Look book</h4>
                                    </td>
                                    <td><a href="#" class="decline">Edit Service</a></td>
                                    <td><a href="#detail-service" class="primary">Details</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="dialog-details overlay-details" id="detail-service">
                            <div class="dialog-body-detail">
                                <a class="dialog-close-detail" href="#">&times;</a>
                                <h2 class="h2">Detail Service</h2>
                                <div class="container_service">
                                    <div class="top-prof-serv">
                                        <img src="../images/black.jpg" />
                                    </div>
                                    <div class="main-serv">
                                        <div class="serv-content">
                                            <div class="input-box">
                                                <h2><span class="details">Service</span></h2>
                                                <input type="text" readonly value="Kỷ yếu">
                                            </div>
                                            <div class="input-box">
                                                <h2><span class="details">Discount</span></h2>
                                                <input type="text" readonly value="30%">
                                            </div>
                                            <div class="input-box">
                                                <h2><span class="details">Discription</span></h2>
                                                <textarea name="Discription" readonly>asdasdasd</textarea>
                                            </div>
                                            <div class="input-box">
                                                <h2><span class="details">Price</span></h2>
                                                <input type="number" readonly value="3200000">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- =========================================================================================== -->
                    <div class="radio_content radio_2">
                        <div class="container_create">
                            <div class="main-form">
                                <div class="form-head">
                                    <form action="#">
                                        <div class="form-content">
                                            <div class="input-box-file">
                                                <h2><span class="details">Cover Image</span></h2>
                                                <div class="drop_box">
                                                    <input type="file" id="fileID" onchange="getImagePreview(event)">
                                                    <label for="fileID">
                                                        <div id="preview" class="preview"><img src="../images/account_null.png" class="cover-img"></div>

                                                    </label>
                                                    <script type="text/javascript">
                                                        function getImagePreview(event) {
                                                            var image = URL.createObjectURL(event.target.files[0]);
                                                            var imagediv01 = document.getElementById('preview');
                                                            var newimg = document.createElement('img');

                                                            imagediv01.innerHTML = '';
                                                            newimg.src = image;
                                                            imagediv01.appendChild(newimg);
                                                        }
                                                    </script>
                                                </div>
                                                <div class="input-box">
                                                    <h2><span class="details">Service Name</span></h2>
                                                    <input class="input" type="text" placeholder="Name">
                                                </div>
                                                <div class="input-box">
                                                    <h2><span class="details">Price</span></h2>
                                                    <input class="input" type="number" placeholder="Price">
                                                </div>
                                                <div class="input-box">
                                                    <h2><span class="details">Discount</span></h2>
                                                    <input class="input" type="number" placeholder="Discount">
                                                </div>
                                                <div class="input-box">
                                                    <h2><span class="details">Discription</span></h2>
                                                    <textarea placeholder="Discription"></textarea>
                                                </div>
                                                <input type="submit" value="Create">
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="right">
            <div class="top">
                <div class="profile">
                    <div class="wrap">
                        <div class="noti-icon">
                            <span class="material-symbols-sharp">notifications</span>
                        </div>
                        <div class="drop-down">
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/pro_photo.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>
                                        he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!
                                    </p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/sbtc.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>
                                        he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!
                                    </p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                            <div class="noti-item">
                                <div class="noti-img">
                                    <img src="../images/sbtc.jpg">
                                </div>
                                <div class="noti-info">
                                    <p>
                                        he lô e vờ ry quăn, làm noti mà chưa biết phải cho gì vô đây, thôi để tạm nhé !!!
                                    </p>
                                    <p id="noti-time">5h ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <p><b>Chạm Studio</b></p>
                        <small class="text-muted">Studio</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../images/logo_stu.png">
                    </div>
                </div>
            </div>
        </div>
</body>

</html>