@page
@model FrameMates_Studio_UI.Pages.ServiceModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Studio Management Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../css/stylestuservice.css">
    <link href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="../js/minipictures.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".content .radio_content").hide();
            $(".content .radio_content:first-child").show();

            $(".radio_wrap").click(function () {
                var current_radio = $(this).attr("data-radio");
                $(".content .radio_content").hide();
                $("." + current_radio).show();
            })
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".noti-icon .material-symbols-sharp").click(function () {
                $(".drop-down").toggle("active");
            });
        });
    </script>
</head>

<body>
    
        <main>
            <h1>Service Management</h1>
            <div class="wrapper">
                <div class="radio_tabs">
                    <label data-radio="radio_1" class="radio_wrap">
                        <input type="radio" name="available" class="input">
                        <span class="radio_mark">
                            Available Services
                        </span>
                    </label>
                    <label data-radio="radio_2" class="radio_wrap">
                        <input type="radio" name="available" class="input">
                        <span class="radio_mark">
                            Create Service
                        </span>
                    </label>
                </div>

                <div class="content">
                <div class="radio_content radio_1">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <h4>Kỷ yếu</h4>
                                </td>
                                <td><a href="#update-service" class="sky">Update</a></td>
                                <td><a href="#detail-service" class="primary">Details</a></td>
                                <td><a href="#delete-service" class="danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Look book</h4>
                                </td>
                                <td><a href="#update-service" class="sky">Update</a></td>
                                <td><a href="#detail-service" class="primary">Details</a></td>
                                <td><a href="#delete-service" class="danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Kỷ yếu</h4>
                                </td>
                                <td><a href="#update-service" class="sky">Update</a></td>
                                <td><a href="#detail-service" class="primary">Details</a></td>
                                <td><a href="#delete-service" class="danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Look book</h4>
                                </td>
                                <td><a href="#update-service" class="sky">Update</a></td>
                                <td><a href="#detail-service" class="primary">Details</a></td>
                                <td><a href="#delete-service" class="danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Kỷ yếu</h4>
                                </td>
                                <td><a href="#update-service" class="sky">Update</a></td>
                                <td><a href="#detail-service" class="primary">Details</a></td>
                                <td><a href="#delete-service" class="danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Look book</h4>
                                </td>
                                <td><a href="#update-service" class="sky">Update</a></td>
                                <td><a href="#detail-service" class="primary">Details</a></td>
                                <td><a href="#delete-service" class="danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Kỷ yếu</h4>
                                </td>
                                <td><a href="#update-service" class="sky">Update</a></td>
                                <td><a href="#detail-service" class="primary">Details</a></td>
                                <td><a href="#delete-service" class="danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Look book</h4>
                                </td>
                                <td><a href="#update-service" class="sky">Update</a></td>
                                <td><a href="#detail-service" class="primary">Details</a></td>
                                <td><a href="#delete-service" class="danger">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="dialog-details overlay-details" id="detail-service">
                        <div class="dialog-body-detail">
                            <a class="dialog-close-detail" href="#">&times;</a>
                            <h2 class="h2">Detail Service</h2>
                            <div class="container_service">
                                <div class="top-prof-serv">
                                    <img src="../images/black.jpg" />
                                </div>
                                <div class="main-serv">
                                    <div class="serv-content">
                                        <div class="above">
                                            <div class="view">
                                                <span class="material-symbols-sharp eye">visibility</span><span class="views">1.023</span>
                                            </div>
                                            <div class="rating">
                                                <span class="vote">4.7</span><span class="material-symbols-sharp star">stars</span>
                                            </div>
                                        </div>
                                        <div class="input-box">
                                            <h2><span class="details">Service</span></h2>
                                            <input type="text" readonly value="Kỷ yếu">
                                        </div>
                                        <div class="input-box">
                                            <h2><span class="details">Discount</span></h2>
                                            <input type="text" readonly value="30%">
                                        </div>
                                        <div class="input-box">
                                            <h2><span class="details">Discription</span></h2>
                                            <textarea name="Discription" readonly>asdasdasd</textarea>
                                        </div>
                                        <div class="input-box">
                                            <h2><span class="details">Price</span></h2>
                                            <input type="number" readonly value="3200000">
                                        </div>
                                        <div class="input-box">
                                            <h2><span class="details">Created</span></h2>
                                            <input type="datetime" readonly value="12/06/2023">
                                        </div>
                                        <div class="input-box">
                                            <h2><span class="details">Updated</span></h2>
                                            <input type="datetime" readonly value="12/06/2023">
                                        </div>
                                        <div class="input-box">
                                            <div class="img-compo">
                                                <img src="../images/logo_stu2.jpg">
                                                <img src="../images/GAM.jpg">
                                                <img src="../images/GAM.jpg">
                                                <img src="../images/GAM.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dialog-update overlay-update" id="update-service">
                        <div class="dialog-body-update">
                            <a class="dialog-close-update" href="#">&times;</a>
                            <h2 class="h2">Update Service</h2>
                            <div class="container_service">
                                <div class="top-prof-serv">
                                    <div class="drop_box">
                                        <input type="file" id="fileID_top" onchange="getImagePreview1(event)">
                                        <label for="fileID_top">
                                            <div id="preview_1" class="preview"><img src="../images/black.jpg" class="conp_img"></div>
                                        </label>
                                        <script type="text/javascript">
                                            function getImagePreview1(event) {
                                                var image01 = URL.createObjectURL(event.target.files[0]);
                                                var imagediv01 = document.getElementById('preview_1');
                                                var newimg01 = document.createElement('img');

                                                imagediv01.innerHTML = '';
                                                newimg01.src = image01;
                                                newimg01.width = "100%";
                                                newimg01.height = "125px";
                                                imagediv01.appendChild(newimg01);
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div class="main-serv">
                                    <form action="#">
                                        <div class="serv-content">
                                            <div class="input-box">
                                                <h2><span class="details">Service</span></h2>
                                                <input type="text" value="Kỷ yếu">
                                            </div>
                                            <div class="input-box">
                                                <h2><span class="details">Discount</span></h2>
                                                <input type="text" value="30%">
                                            </div>
                                            <div class="input-box">
                                                <h2><span class="details">Discription</span></h2>
                                                <textarea name="Discription">asdasdasd</textarea>
                                            </div>
                                            <div class="input-box">
                                                <h2><span class="details">Price</span></h2>
                                                <input type="number" value="3200000">
                                            </div>
                                            <div class="input-box">
                                                <h2><span class="details">Created</span></h2>
                                                <input type="datetime" value="12/06/2023">
                                            </div>
                                            <div class="input-box">
                                                <div class="img-compo">
                                                    <div class="drop_box">
                                                        <input type="file" id="fileID_01" onchange="getImagePreview1(event)">
                                                        <label for="fileID_01">
                                                            <div id="preview_1" class="preview"><img src="../images/black.jpg" class="conp_img"></div>

                                                        </label>
                                                        <script type="text/javascript">
                                                            function getImagePreview1(event) {
                                                                var image01 = URL.createObjectURL(event.target.files[0]);
                                                                var imagediv01 = document.getElementById('preview_1');
                                                                var newimg01 = document.createElement('img');

                                                                imagediv01.innerHTML = '';
                                                                newimg01.src = image01;
                                                                newimg01.width = "125px";
                                                                newimg01.height = "125px";
                                                                imagediv01.appendChild(newimg01);
                                                            }
                                                        </script>
                                                    </div>
                                                    <div class="drop_box">
                                                        <input type="file" id="fileID_02" onchange="getImagePreview2(event)">
                                                        <label for="fileID_02">
                                                            <div id="preview_2" class="preview"><img src="../images/black.jpg" class="conp_img"></div>

                                                        </label>
                                                        <script type="text/javascript">
                                                            function getImagePreview2(event) {
                                                                var image02 = URL.createObjectURL(event.target.files[0]);
                                                                var imagediv02 = document.getElementById('preview_2');
                                                                var newimg02 = document.createElement('img');

                                                                imagediv02.innerHTML = '';
                                                                newimg02.src = image02;
                                                                newimg02.width = "125px";
                                                                newimg02.height = "125px";
                                                                imagediv02.appendChild(newimg02);
                                                            }
                                                        </script>
                                                    </div>
                                                    <div class="drop_box">
                                                        <input type="file" id="fileID_03" onchange="getImagePreview3(event)">
                                                        <label for="fileID_03">
                                                            <div id="preview_3" class="preview"><img src="../images/black.jpg" class="conp_img"></div>

                                                        </label>
                                                        <script type="text/javascript">
                                                            function getImagePreview3(event) {
                                                                var image = URL.createObjectURL(event.target.files[0]);
                                                                var imagediv01 = document.getElementById('preview_3');
                                                                var newimg = document.createElement('img');

                                                                imagediv01.innerHTML = '';
                                                                newimg.src = image;
                                                                newimg.width = "125px";
                                                                newimg.height = "125px";
                                                                imagediv01.appendChild(newimg);
                                                            }
                                                        </script>
                                                    </div>
                                                    <div class="drop_box">
                                                        <input type="file" id="fileID_04" onchange="getImagePreview4(event)">
                                                        <label for="fileID_04">
                                                            <div id="preview_4" class="preview"><img src="../images/black.jpg" class="conp_img"></div>

                                                        </label>
                                                        <script type="text/javascript">
                                                            function getImagePreview4(event) {
                                                                var image = URL.createObjectURL(event.target.files[0]);
                                                                var imagediv01 = document.getElementById('preview_4');
                                                                var newimg = document.createElement('img');

                                                                imagediv01.innerHTML = '';
                                                                newimg.src = image;
                                                                newimg.width = "125px";
                                                                newimg.height = "125px125px";
                                                                imagediv01.appendChild(newimg);
                                                            }
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="update-submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-delete overlay-delete" id="delete-service">
                        <div class="dialog-body-delete">
                            <a class="dialog-close-delete" href="#">&times;</a>
                            <h2 class="h2">Delete Service</h2>
                            <form action="#">
                                <span class="delete-letter"><p>Are you sure to delete this service?</p></span>
                                <button class="primary btn-yes">Yes</button>
                                <button class="danger btn-no">No</button>
                            </form>
                        </div>
                    </div>
                </div>
                    <!-- =========================================================================================== -->
                    <div class="radio_content radio_2">
                        <div class="container_create">
                            <div class="main-form">
                                <div class="form-head">
                                    <form id="createService" method="post">
                                        <div class="form-content">
                                            <div class="input-box-file">
                                                <h2><span class="details">Cover Image</span></h2>
                                                <div class="drop_box">
                                                    <input type="file" id="fileID" name="coverImage" onchange="getImagePreview(event)">
                                                    <label for="fileID">
                                                        <div id="preview" class="preview"><img src="../images/account_null.png" class="cover-img"></div>

                                                    </label>
                                                    <script type="text/javascript">
                                                        function getImagePreview(event) {
                                                            var image = URL.createObjectURL(event.target.files[0]);
                                                            var imagediv01 = document.getElementById('preview');
                                                            var newimg = document.createElement('img');

                                                            imagediv01.innerHTML = '';
                                                            newimg.src = image;
                                                            imagediv01.appendChild(newimg);
                                                        }
                                                    </script>
                                                </div>
                                                <div class="input-box">
                                                    <h2><span class="details">Service Name</span></h2>
                                                    <input class="input" name="serviceName" type="text" placeholder="Name">
                                                </div>
                                                <div class="input-box">
                                                    <h2><span class="details">Price</span></h2>
                                                    <input class="input" name="price" type="number" placeholder="Price">
                                                </div>
                                                @*<div class="input-box">
                                                    <h2><span class="details">Discount</span></h2>
                                                    <input class="input" name="discount" type="number" placeholder="Discount">
                                                </div>*@
                                                <div class="input-box">
                                                    <h2><span class="details">Description</span></h2>
                                                    <textarea name="description" placeholder="Description"></textarea>
                                                </div>
                                                <div class="input-box">
                                                    <h2><span class="details">Mini Pictures</span><p>(Required 4)</p></h2>
                                                    <div class="btn_add_pics">
                                                        <label for="add_mini_pics">Post pictures</label>
                                                        <input name="miniPictures" multiple accept=".jpeg, .jpg, .png" type="file" id="add_mini_pics">
                                                    </div>
                                                    <div class="album-selected">
                                                        <div class="list-pic" id="list_mini_pics">
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="submit" value="Create">
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="right">
            <div class="top">
                <div class="profile">
                    <div class="wrap">
                        
                    </div>
                    <div class="info">
                        <p><b>Chạm Studio</b></p>
                        <small class="text-muted">Studio</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../images/logo_stu.png">
                    </div>
                </div>
            </div>
        </div>

    <script>
        $(document).ready(function () {
            $('#createService').submit(function (event) {
                event.preventDefault();

                let coverImage = $('input[name="coverImage"]').val()
                let serviceName = $('input[name="serviceName"]').val()
                let price = $('input[name="price"]').val()
                let description = $('textarea[name="description"]').val()
                let input = document.getElementById("add_mini_pics")
                console.log(input)
                let files = document.getElementById("add_mini_pics").files;
                let filenames = [];
                for (var i = 0; i < files.length; i++) {
                    filenames.push(files[i].name);
                }
                let images = filenames.map(f => {
                    return {
                        filePath: f,
                        fileIndex: filenames.indexOf(f) + 1
                    }
                })

                let data = {
                    name: serviceName,
                    price: price,
                    description: description,
                    servicePack_mediaService: images
                }

                $.ajax({
                    url: '@Model.ApiDomain' + 'api/services',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr) {
                        let accessToken = localStorage.getItem('accessToken');
                        xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
                    },
                    success: function (response) {
                        console.log(response);
                        window.location.href = '/Service'
                    },
                    error: function (error) {
                        // Handle any errors that occur during the request
                        console.error(error);
                        // Display an error message to the user
                    }
                });
            });
        });
    </script>

</body>

</html>