@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root{
    /* --color-primary: #7380ec; */
    --color-primary: #0c8b89;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark:#363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    
    --card-padding: 1.8rem;
    --padding: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-mute{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}

aside{
    /* position: fixed; */
     height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 2rem;
    height: 2rem;
}

aside .close{
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: fixed;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

/* top */
main{
    margin-top: 1.4rem;
}
main h3{
    text-align: center;
    margin-top: 1rem;
    font-size: 24px;
}

main .chart{
    margin-top: 1.5rem;
}

canvas#chartRating{
    background: var(--color-white);
    max-width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    font-size: 16px;
}
canvas#chartWeek{
    background: var(--color-white);
    max-width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    font-size: 16px;
}
canvas#chartMonth{
    background: var(--color-white);
    max-width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    font-size: 16px;
    margin-bottom: 2.4rem;
}
canvas#chartRevenue{
    background: var(--color-white);
    max-width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    font-size: 16px;
}
/* ======================================RIGHT=================================== */
.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right .top p{
    display: inline;
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}
.profile .wrap{
    width: 500px;
    margin-top: 1rem;
}
.wrap .noti-icon{
    position: relative;
    color: var(--color-dark-variant);
    cursor: pointer;
}
.noti-icon:hover{
    color: var(--color-primary);
}
.wrap .drop-down{
    width: 500px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    margin: 15px auto 0;
    padding: 15px;
    position: absolute;
    display: none;
}
.wrap .drop-down .noti-item{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-info-dark);
}
.wrap .drop-down .noti-item:last-child{
    border: none;
}
.wrap .drop-down .noti-item .noti-img{
    margin-right: 1rem;
    width: 50px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
}
.wrap .drop-down .noti-item .noti-info{
    display: block;
    flex-direction: column;
    text-align: start;
}
.wrap .drop-down::before{
    content: "";
    position: absolute;
}
.wrap .drop-down .active{
    display: block;
}
/* TOPBOOKING */
.top_booking{
    margin-top: 4rem;
    box-shadow: var(--box-shadow);
}

.right .top_booking{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.right .top_booking img{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

.right .top_booking .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);
    padding-bottom: 0;
    text-align: center;
}

.right .top_booking .studios{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--card-padding);
    border-bottom: 1px solid var(--color-info-light);
    transition: all 300ms ease;
}

.right .top_booking .studios:last-child{
    border: none;
}

.right .top_booking .studios:hover{
    background: var(--color-background);
    cursor: pointer;
}
/* TOPREVENUE */
.top_revenue{
    margin-top: 4rem;
    box-shadow: var(--box-shadow);
}

.right .top_revenue{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.right .top_revenue img{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

.right .top_revenue .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);
    padding-bottom: 0;
    text-align: center;
}

.right .top_revenue .studios{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--card-padding);
    border-bottom: 1px solid var(--color-info-light);
    transition: all 300ms ease;
}

.right .top_revenue .studios:last-child{
    border: none;
}

.right .top_revenue .studios:hover{
    background: var(--color-background);
    cursor: pointer;
}
.chart-access{
    margin-top: 3rem;
}
/* CHARTACCESS */
canvas#chartAccessWeek{
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    max-width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
canvas#chartAccessMonth{
    margin-top: 2rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    max-width: 100%;
    min-height: 100px;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
/* ==============================MEDIA QUERIES============================== */
@media screen and (max-width: 1200px) {
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside h1{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar a{
        width: 5.6rem;
    }
    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }
}