/* top */
main {
    margin-top: 1.4rem;
}

    main .container_profile {
        margin-left: 2rem;
        background: var(--color-white);
        width: 100%;
        max-height: 100%;
        border-radius: var(--card-border-radius);
        padding: var(--card-padding);
        box-shadow: var(--box-shadow);
        transition: all 300ms ease;
        margin-top: 2rem;
        gap: 1.8rem;
    }

.profile-img {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.container_profile .top-prof {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.container_profile .main-prof {
    position: relative;
    margin-left: 2rem;
}

    .container_profile .main-prof .prof-content {
        margin-top: 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

.main-prof .prof-content .input-box {
    margin-top: 0.5rem;
    display: block;
    position: relative;
    width:100%;
}

    .main-prof .prof-content .input-box h2 {
        margin-left: 0;
    }

    .main-prof .prof-content .input-box input {
        position: relative;
        border: 1px solid var(--color-info-dark);
        border-radius: var(--border-radius-1);
        margin-top: 5px;
        font-size: 16px;
        width: 100%;
        height: 40px;
        outline: none;
        padding-left: 0.5rem;
    }

    .main-prof .prof-content .input-box .box-disc input {
       
        text-align: start;
    }

.container_profile .edit-prof {
    position: relative;
    margin-top: 0.5rem;
    margin-left: auto;
    font-size: 14px;
}

    .container_profile .edit-prof a {
        transition: all 300ms ease;
    }

        .container_profile .edit-prof a:hover {
            color: var(--color-primary);
            border-bottom: 1px solid var(--color-primary);
        }

.main-prof .prof-content .input-box .box-disc select {
    display: flex;
    position: relative;
    border: 1px solid #7d8da1;
    border-radius: var(--border-radius-1);
    margin-top: 5px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.prof-content input[type="submit"] {
    text-align: center;
    margin-top: 10px;
    width: 50%;
    height: 35px;
    border-radius: 25px;
    font-size: 18px;
    color: #7d8da1;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: all 300ms ease;
}

    .prof-content input[type="submit"]:hover {
        font-size: 20px;
        background-color: var(--color-primary);
        color: #dce1eb;
        cursor: pointer;
    }

.prof-content a {
    margin-left: 2rem;
    margin-top: 10px;
    width: 50%;
    height: 35px;
    border-radius: 25px;
    font-size: 18px;
    color: #7d8da1;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: all 300ms ease;
}

    .prof-content a:hover {
        color: var(--color-primary);
        cursor: pointer;
    }
/* =================================DIALOG====================================== */
.dialog-edit {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2;
}

    .dialog-edit:target {
        visibility: visible;
        opacity: 1;
    }

.overlay-edit {
    background-color: rgba(0, 0, 0, 0.41);
}

.dialog-body-edit {
    position: relative;
    border-radius: var(--border-radius-2);
    min-width: 400px;
    padding: 16px;
    background-color: var(--color-white);
}

.dialog-close-edit {
    position: absolute;
    top: 2px;
    right: 6px;
    text-decoration: none;
    color: #111e88;
}

.edit-form {
    margin-top: 1.5rem;
}

.edit-box input[type="text"] {
    position: relative;
    border: 1px solid #7d8da1;
    border-radius: var(--border-radius-1);
    margin-top: 5px;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.edit-box .box-disc input[type="text"] {
    height: 200px;
}

.edit-form input[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 20%;
    height: 35px;
    border: 1px solid rgb(82, 218, 82);
    background-color: rgba(156, 228, 156, 0.656);
    border-radius: 25px;
    font-size: 18px;
    color: rgb(82, 218, 82);
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

    .edit-form input[type="submit"]:hover {
        color: rgb(156, 228, 156);
        background: rgb(7, 190, 7);
    }

main .container_profile script {
    margin-left: 50%;
}
/* =================================DIALOG====================================== */
.dialog-prev {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2;
}

    .dialog-prev:target {
        visibility: visible;
        opacity: 1;
    }

.overlay-prev {
    background-color: rgba(0, 0, 0, 0.41);
}

.dialog-body-prev {
    position: relative;
    border-radius: var(--border-radius-2);
    min-width: 400px;
    padding: 16px;
    background-color: var(--color-white);
}

.dialog-close-prev {
    position: absolute;
    top: 2px;
    right: 6px;
    text-decoration: none;
    color: #111e88;
}

.prev-form {
    margin-top: 1.5rem;
}

.prev-box input[type="text"] {
    position: relative;
    border: 1px solid #7d8da1;
    border-radius: var(--border-radius-1);
    margin-top: 5px;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.prev-box .box-disc input[type="text"] {
    height: 200px;
}

.prev-form input[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 20%;
    height: 35px;
    border: 1px solid rgb(82, 218, 82);
    background-color: rgba(156, 228, 156, 0.656);
    border-radius: 25px;
    font-size: 18px;
    color: rgb(82, 218, 82);
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

    .prev-form input[type="submit"]:hover {
        color: rgb(156, 228, 156);
        background: rgb(7, 190, 7);
    }


/* ======================================RIGHT=================================== */
.right {
    margin-top: 1.4rem;
}

    .right .top {
        display: flex;
        justify-content: end;
        gap: 2rem;
    }

        .right .top p {
            display: inline;
        }

        .right .top .profile {
            display: flex;
            gap: 2rem;
            text-align: right;
        }

.profile .wrap {
    width: 500px;
    margin-top: 1rem;
}

.wrap .noti-icon {
    position: relative;
    color: var(--color-dark-variant);
    cursor: pointer;
}

.noti-icon:hover {
    color: var(--color-primary);
}

.wrap .drop-down {
    width: 500px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    margin: 15px auto 0;
    padding: 15px;
    position: absolute;
    display: none;
}

    .wrap .drop-down .noti-item {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid var(--color-info-dark);
    }

        .wrap .drop-down .noti-item:last-child {
            border: none;
        }

        .wrap .drop-down .noti-item .noti-img {
            margin-right: 1rem;
            width: 50px;
            height: 42px;
            border-radius: 50%;
            overflow: hidden;
        }

        .wrap .drop-down .noti-item .noti-info {
            display: block;
            flex-direction: column;
            text-align: start;
        }

    .wrap .drop-down::before {
        content: "";
        position: absolute;
    }

    .wrap .drop-down .active {
        display: block;
    }

.right .talkjs {
    margin-left: 0.7rem;
    margin-top: 85%;
    right: 0;
    bottom: 10px;
}
/* ==============================MEDIA QUERIES============================== */
@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside h1 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

        aside .sidebar a:last-child {
            position: relative;
            margin-top: 1.8rem;
        }
}

#list {
    position: absolute;
    z-index: 999;
    background: #fff;
    width: 50%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

    #list li {
        padding: 0 20px;
        margin: 10px 0;
    }

        #list li:hover {
            cursor: pointer;
            background: #FBEAFF;
        }


#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 988888;
    background: rgba(0,0,0,0.5);
    /* top: 0; */
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
